################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libcef_dll_wrapper
/CMakeFiles
/libs
/Xchange.sln
/Xchange/Xchange.dir/Debug
/Xchange/GPUCache
/Xchange/Debug
/Xchange/CMakeFiles
/.vs
/Xchange/Xchange.vcxproj
/Xchange/Xchange.vcxproj.filters
